

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background: #041337;
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
  text-align: center;
    color: #00ffea;
    text-decoration: underline;
    font-family: 'Share Tech Mono', monospace !important;
    cursor: pointer;
    transition: all ease 0.5s;
}

h3:hover{
  border: 1px solid #00ffea;
  color:#041337;
  background-color: #00ffea;
  text-decoration: none;
}

h1,h2{
    text-align: center;
    color: #00ffea;
    font-family: 'Share Tech Mono', monospace !important;
}

.scene{
    display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  
}

.card{
    display: none;
    position: relative;
    width: 400px;
  height: 200px;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  background-color: #000000;
  animation: identifier .5s ease-in-out;
}

.identifier{
  animation: identifier .5s ease-in-out;
}

@keyframes identifier {
  from{
    border-radius: 50%;
    opacity: 0;
  }
  to{
    border-radius: 0;
    opacity: 1;
  }
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; 
    transition: transform 0.6s; 
  }
  
  .card-front {
    background-color: #000000;
    transform: rotateY(0deg); 
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Share Tech Mono', monospace !important;
  }

  .card-back {
    background-color: #b3b3b3;
    transform: rotateY(180deg); 
    background-color: #000000;
    text-align: center;
    font-family: 'Share Tech Mono', monospace !important;
  }

  .card.flipped .card-front {
    transform: rotateY(180deg); 
  }
  
  .card.flipped .card-back {
    transform: rotateY(0deg); 
  }

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
}

.button_container {
	position: absolute;
  left: 0;
  right: 0;
  top: 30%;
}

.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.description {
	font-size: 35px;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

span {
  position: relative; 
  z-index: 1;
  color: #fff;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #00ffea;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.btn:hover span{
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  width: 90%;
  border-radius: 10px;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #222;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #1eff00;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #00ff1e;
    }
    100% {
        fill: white;
    }
}

.wrapper{
    padding-top: 10px;
    width: 70%;
}

#inpt{
    font-size: 25px;
    color: #00ffea;
}

#output{
    font-size: 25px;
    color: #00ffea;
    padding-top: 30px;
}

#cross{
    color: #00ffea;
    cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #000000;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #abb2bf;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  animation: modal-appear 0.5s ease;
}

@keyframes modal-appear {
  from {
      opacity: 0;
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.close {
  color: #abb2bf;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
  text-decoration: none;
}

.close:hover {
  cursor:pointer;
}

#mc{
  color: #ffffff;
  font-family: 'Share Tech Mono', monospace !important;
}

.github-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #565050;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-color 0.3s;
}

.github-icon:hover{
  background-color: #00ffea;
  color: #000000;
}

a{
  text-decoration: none;
  color: #00ffea;
}